<h1>Data Binding-One Way & Two way</h1>
<p>One Way Data Binding</p>
<!-- interpolation Model To View Data Transfer-->
 {{message}}<br>
 <!-- Property Binding Model To View Data Transfer-->
  <img [src]="imgUrl" alt="AngularIMG" width="20%" height="20%"><br>
   <!-- Property Binding view To Model Data Transfer-->
   <button (click)="onClick(message)">Click me</button>

   <br>
   <p>Two Way Data Binding</p>
   <!-- ngModel Model To View - view to model Data Transfer-->
    <input type="text" placeholder="Enter Name" [(ngModel)]="name"><br>
    <h1>{{name}}</h1>

<br>
<input type="text" placeholder="Enter Full Name" [formControl]="fullName">
<h1>{{fullName.value}}</h1>

<input type="text"  placeholder="Enter Message" (input)="onInputChange($event)">

<br>
<h1>{{msg}}</h1>

<input type="text" placeholder="Enter Name">